.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(65, 67, 64, 0.6);
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 3%;
    box-sizing: border-box;

}

.search-container {
    flex-grow: 0.4;
    margin: 0;
}

.search-input {
    width: 80%;
    padding: 5px;
    margin-right: 0px;
    border-radius: 5px;
    border: 1px solid #ddd;


}

.menu-list {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 15%;
    flex-grow: 8;
}

.menu-list li {
    margin: 0 10px;
}

.menu-list li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #ddd;
}

.menu-list li a:hover {
    background-color: gray;
    border-radius: 50px;
}