.categories {
    padding: 20px;
  }
  
  .genre-section {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }
  
  .genre-title {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .images-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 5px;
  }
  
  .image {
    min-width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
  }
  
  .image.central {
    transform: scale(1.1);
  }
  
  .nav-btn {
    background-color: #c3c3c3;
    border-radius: 6px;
    height: 200px;
    width: 30px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }
  

  